@model WebsiteThuCungBento.ViewModels.ListDVViewModel

@{
    ViewBag.Title = "Spa Thú Cưng";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="container-fluid wrapGeneralBig" id="LP_Fagopet_Spa">
    <div class="fagopetSP_10" id="sectionLPSpa_1">
        <div class="area_1">
            <div class="container">
                <h1 class="titleBlock">Dịch vụ Spa cho Chó Mèo tại fago pet</h1>
            </div>
        </div>
        <div class="area_2">
            <div class="container">
                <div class="row rowFix d-flex">
                    <div class="imgBlock">
                        <div class="imgPart" namemedia="image0">
                            <img alt="fagopet" src="~/images/spa-cho-meo-1.jpg">
                        </div>
                    </div>

                    <form class="leftBlock product-form" action="/User/DangKyDichVu" method="post" novalidate="novalidate">
                        <input type="text" hidden name="serviceid" id="serviceid" />
                        <div class="selectServiceBlock">
                            @foreach (var listspa in Model.listDV)
                            {
                                <p class="serviceTab @if (Model.listDV.First() == listspa) { <text> active </text> }">@listspa.TenDV</p>
                            }
                        </div>
                        @foreach (var listspa in Model.listDV)
                        {
                            string[] listcombo = listspa.ComboDV.Split(',');
                            <div class="serviceBlock @if (Model.listDV.First() == listspa) { <text> active </text> } " servicetype="@listspa.TenDV">
                                @foreach (var combo in listcombo)
                                {
                                    <p class="dotText">@combo</p>
                                }
                                <div class="giftBlock">
                                    <p class="giftText">Chải - Tỉa gọn lông mặt tay chân</p>
                                </div>
                                <div class="underline"></div>
                                <div class="fagopetSP_9">
                                    <div class="selectBlock">
                                        <p class="text_1">CÂN NĂNG CỦA BÉ</p>
                                        <div class="wrapFlex">
                                            @foreach (var listctspa in Model.listCTDV)
                                            {
                                                if (listctspa.MaDV == listspa.MaDV)
                                                {
                                                    <p class="typePet" serviceid="@listctspa.MaCT" priceroom="@listctspa.DonGia" priceformat="@String.Format("{0:0,0}", listctspa.DonGia)Đ" typeroom="@listctspa.DichVu.TenDV">@listctspa.DieuKien</p>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="priceBlock">
                            <p class="priceText data_booking" id="price_service"></p>
                        </div>
                        <div class="btnOrder">
                            <button class="btnType_2 Desktop_1 btn-booking1 submit-direct-order spa-cho-meo" type="submit" data_type="booking" object_name="Order">Đặt dịch vụ ngay</button>
                        </div>
                    </form>
                    <script>
                        articles = document.getElementsByClassName('serviceTab');
                        serviceblock = document.getElementsByClassName('serviceBlock');
                        typepet = document.getElementsByClassName('typePet');
                        var serviceid = document.getElementById("serviceid");

                        for (var i = 0; i < articles.length; i++) {
                            articles[i].addEventListener('click', redirect, false);
                        }
                        function redirect() {
                            for (var i = 0; i < articles.length; i++) {
                                if (articles[i].classList.contains('active')) {
                                    articles[i].classList.remove('active');
                                }
                            }
                            this.classList.add('active');
                            for (var i = 0; i < serviceblock.length; i++) {
                                if (serviceblock[i].getAttribute('servicetype') == this.innerText) {
                                    serviceblock[i].classList.add('active');

                                }
                                else {
                                    serviceblock[i].classList.remove('active');
                                }
                            }
                            document.getElementById("price_service").innerHTML = "";
                        }
                        for (var i = 0; i < typepet.length; i++) {
                            typepet[i].addEventListener('click', selecttypepet, false);
                        }
                        function selecttypepet() {
                            for (var i = 0; i < typepet.length; i++) {
                                if (typepet[i].classList.contains('active')) {
                                    typepet[i].classList.remove('active');
                                }
                            }
                            this.classList.add('active');
                            document.getElementById("price_service").innerHTML = this.getAttribute('priceformat');
                            serviceid.value = this.getAttribute('serviceid');
                        }
                    </script>
                </div>
            </div>
        </div>
        <div class="underlineBlock"></div>
    </div>

    <div class="fagopetSP_18 generalPD" id="sectionLPSpa_2">
        <div class="container">
            <p class="titleBlock wk-editable-text" id="sectionLPSpa_2-text1">BẢNG GIÁ DỊCH VỤ GROOMING SPA CHÓ MÈO</p>
            <div class="fagopetSP_19">
                <p class="title wk-editable-text" id="sectionLPSpa_2-text2">gói tắm cơ bản</p>
                <div class="wrapFlex">
                    <div class="nameSer">
                        <p class="nameText wk-editable-text" id="sectionLPSpa_2-text3">Dịch vụ bao gồm</p>
                    </div>
                    <div class="rightContent">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="wk-editable-text" id="sectionLPSpa_2-text4">Dưới 2kg</td>
                                    <td class="wk-editable-text" id="sectionLPSpa_2-text5">2kg - &lt; 4kg</td>
                                    <td class="wk-editable-text" id="sectionLPSpa_2-text6">4kg - &lt; 9kg</td>
                                    <td class="wk-editable-text" id="sectionLPSpa_2-text7">9kg - &lt; 15kg</td>
                                    <td class="wk-editable-text" id="sectionLPSpa_2-text8">15kg - &lt; 20kg</td>
                                </tr>
                                <tr>
                                    <td class="wk-editable-text" id="sectionLPSpa_2-text9">89.000</td>
                                    <td class="wk-editable-text" id="sectionLPSpa_2-text10">120.000</td>
                                    <td class="wk-editable-text" id="sectionLPSpa_2-text11">170.000</td>
                                    <td class="wk-editable-text" id="sectionLPSpa_2-text12">220.000</td>
                                    <td class="wk-editable-text" id="sectionLPSpa_2-text13">270.000</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="text text_1 wk-editable-text" id="sectionLPSpa_2-text14">Sục Ozone</p>
                        <p class="text wk-editable-text" id="sectionLPSpa_2-text15">Làm sạch sâu đánh bay tế bào chết trên da</p>
                        <p class="text wk-editable-text" id="sectionLPSpa_2-text16">Tái tạo lông hư tổn, giúp lông mềm mượt</p>
                        <p class="text wk-editable-text" id="sectionLPSpa_2-text17">Chăm sóc và phục hồi da, hỗ trợ điều trị nấm cho Pet</p>
                    </div>
                </div>
            </div>
            <div class="row area_2 d-flex">
                <div class="smallBlock">
                    <div class="fagopetSP_19">
                        <p class="title wk-editable-text" id="sectionLPSpa_2-text18">COMBO SPA TRỌN GÓI</p>
                        <div class="wrapFlex">
                            <div class="nameSer">
                                <p class="nameText wk-editable-text" id="sectionLPSpa_2-text19">Dịch vụ bao gồm</p>
                            </div>
                            <div class="rightContent">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text20">Dưới 4kg </td>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text21">4kg - &lt; 9kg</td>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text22">9kg - &lt; 15kg</td>
                                        </tr>
                                        <tr>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text23">180.000</td>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text24">250.000</td>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text25">300.000</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="text text_1 wk-editable-text" id="sectionLPSpa_2-text26">Sục Ozone</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text27">Tắm + sấy</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text28">Vệ sinh tổng quát</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text29">Nặn tuyến hôi</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text30">Xịt serum dưỡng lông</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text31">Làm sạch lông bàn chân</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text32">Làm sạch chân bụng</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text33">Cắt và mài móng</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text34">Nhỏ mắt</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text35">Tỉa gọn lông mặt, chân trước, sau</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="smallBlock">
                    <div class="fagopetSP_19">
                        <p class="title wk-editable-text" id="sectionLPSpa_2-text36">COMBO SPA + CẮT TẠO KIỂU</p>
                        <div class="wrapFlex">
                            <div class="nameSer">
                                <p class="nameText wk-editable-text" id="sectionLPSpa_2-text37">Dịch vụ bao gồm</p>
                            </div>
                            <div class="rightContent">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text38">Dưới 4kg </td>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text39">4kg - &lt; 9kg</td>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text40">9kg - &lt; 15kg</td>
                                        </tr>
                                        <tr>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text41">350.000</td>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text42">420.000</td>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text43">550.000</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="text text_1 wk-editable-text" id="sectionLPSpa_2-text44">Sục Ozone</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text45">Tắm + sấy</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text46">Vệ sinh tổng quát</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text47">Nặn tuyến hôi</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text48">Xịt serum dưỡng lông</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text49">Làm sạch lông bàn chân</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text50">Làm sạch chân bụng</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text51">Cắt và mài móng</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text52">Nhỏ mắt</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text53">Tỉa gọn lông mặt, chân trước, sau</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text54">Cắt, tạo kiểu theo yêu cầu</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="smallBlock">
                    <div class="fagopetSP_19">
                        <p class="title wk-editable-text" id="sectionLPSpa_2-text55">COMBO SPA + CẠO LÔNG</p>
                        <div class="wrapFlex">
                            <div class="nameSer">
                                <p class="nameText wk-editable-text" id="sectionLPSpa_2-text56">Dịch vụ bao gồm</p>
                            </div>
                            <div class="rightContent">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text57">Dưới 4kg </td>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text58">4kg - &lt; 9kg</td>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text59">9kg - &lt; 15kg</td>
                                        </tr>
                                        <tr>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text60">280.000</td>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text61">320.000</td>
                                            <td class="wk-editable-text" id="sectionLPSpa_2-text62">520.000</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="text text_1 wk-editable-text" id="sectionLPSpa_2-text63">Sục Ozone</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text64">Tắm + sấy</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text65">Vệ sinh tổng quát</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text66">Nặn tuyến hôi</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text67">Xịt serum dưỡng lông</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text68">Làm sạch lông bàn chân</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text69">Làm sạch chân bụng</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text70">Cắt và mài móng</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text71">Nhỏ mắt</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text72">Tỉa gọn lông mặt, chân trước, sau</p>
                                <p class="text wk-editable-text" id="sectionLPSpa_2-text73">Cạo lông theo yêu cầu</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="specialBlock_11" data-target="#popup_registration_1" data-toggle="modal" id="sectionLPSpa_3">
        <picture>
            <img alt="fagopet" src="~/images/img_7.png">
        </picture>
    </a>
    <div class="fagopetSP_12 generalPD" id="sectionLPSpa_4">
        <div class="container">
            <div class="titleBlock_6">
                <h2 class="titleText">Những Dịch vụ Grooming Spa Cho Chó Mèo cao cấp khác của Fago Pet</h2>
            </div>
            <div class="row rowFix d-flex">
                <div class="smallBlock">
                    <div class="wrapBox hasImg">
                        <p class="titleText">GỠ RỐI</p>
                        <div class="underline"></div>
                        <p class="text_1">Từ 50.000đ đến 200.000đ</p>
                        <p class="noteText">Tùy thuộc vào mức độ rối thực tế của bé!</p>
                        <div class="imgBottom">
                            <img alt="fagopet" src="~/images/img_8.png">
                        </div>
                    </div>
                </div>
                <div class="smallBlock">
                    <div class="wrapBox">
                        <p class="titleText">DỊCH VỤ LẺ</p>
                        <div class="underline"></div>
                        <div class="priceSer">
                            <p class="text_2">Gỡ rối lông</p>
                            <p class="text_2">Từ 50.000 - 200.000 tùy độ rối thực tế của pet</p>
                        </div>
                        <div class="priceSer">
                            <p class="text_2">Vệ sinh - nhổ lông tai</p>
                            <p class="text_2">50.000</p>
                        </div>
                        <div class="priceSer">
                            <p class="text_2">Cắt và mài móng</p>
                            <p class="text_2">50.000</p>
                        </div>
                        <div class="priceSer">
                            <p class="text_2">Cạo bàn chân, bụng, chỗ đi vệ sinh</p>
                            <p class="text_2">50.000</p>
                        </div>
                    </div>
                </div>
                <div class="smallBlock">
                    <div class="wrapBox hasImg">
                        <p class="titleText">PHỤ THU DỊCH VỤ TẠI NHÀ</p>
                        <div class="underline"></div>
                        <p class="text_1">Phụ thu thêm 12% phí dịch vụ khi làm tại nhà khách</p>
                        <p class="noteText">Có tính phí di chuyển 1 chiều!</p>
                        <div class="imgBottom">
                            <img alt="fagopet" src="~/images/img_9.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="btnContact">
                <a class="btnFGP_1 contactCallPopUp" contacttext="Gọi điện" data-target="#popup_registration_5" data-toggle="modal" datahref="tel:0987654321" idgoogleget="btn_phone_id">
                    <p class="btnText">Liên hệ tư vấn</p>
                </a>
            </div>
        </div>
    </div>
    <div class="fagopetSP_15 bgSole" id="sectionLPSpa_7">
        <div class="container">
            <div class="row rowFix d-flex">
                <div class="smallBlock smallBlock_1">
                    <div class="titleBlock_3">
                        <p class="titleText_1">Đội ngũ</p>
                        <div class="underline"></div>
                        <h2 class="titleText_2 marBot_0" style="color: #000000;">Đội ngũ Groomer của dịch vụ Grooming Spa cho Chó Mèo</h2>
                    </div>
                    <div class="content">
                        <p class="text">Dịch vụ spa chó mèo, thú cưng có lượng nhu cầu ngày càng lớn.</p>
                    </div>
                    <div class="btnViewAll">
                        <a class="btnType_2">XEM TẤT CẢ</a>
                    </div>
                </div>
                <div class="smallBlock smallBlock_2">
                    <div class="wrapBox">
                        <div class="wrapImgPart">
                            <div class="imgStaff">
                                <img alt="fagopet" src="~/images/staff_1.png">
                            </div>
                        </div>
                        <div class="textPart">
                            <p class="text_1">CEO</p>
                            <p class="text_2">Hoàng Tiến Cường</p>
                        </div>
                    </div>
                </div>
                <div class="smallBlock smallBlock_2">
                    <div class="wrapBox">
                        <div class="wrapImgPart">
                            <div class="imgStaff">
                                <img alt="fagopet" src="~/images/staff_2.png">
                            </div>
                        </div>
                        <div class="textPart">
                            <p class="text_1">Groomer</p>
                            <p class="text_2">Vũ Duy Hoàng</p>
                        </div>
                    </div>
                </div>
                <div class="smallBlock smallBlock_2">
                    <div class="wrapBoxf">
                        <div class="wrapImgPart">
                            <div class="imgStaff">
                                <img alt="fagopet" src="~/images/staff_3.spng">
                            </div>
                        </div>
                        <div class="textPart">
                            <p class="text_1">SEO</p>
                            <p class="text_2">Bùi Đức Nam</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fagopetSP_16" id="sectionLPSpa_8">
        <div class="container">
            <div class="row rowFix d-flex">
                <div class="rightBlock">
                    <div class="titleBlock_3">
                        <p class="titleText_1">Phản hồi từ khách hàng</p>
                        <div class="underline"></div>
                        <h2 class="titleText_2" style="color: #0c2333;">Khách hàng nói về dịch vụ Grooming spa cho chó mèo của Fago Pet</h2>
                    </div>
                    <div class="smallBlock">
                        <div class="area_1">
                            <div class="imgPart">
                                <img alt="fagopet" src="~/images/cus_1.png">
                            </div>
                            <div class="textPart">
                                <p class="text_1">Bạn Trần Ngọc Minh</p>
                                <p class="text_2">Đến từ TP. HCM</p>
                            </div>
                        </div>
                        <div class="area_2">
                            <p class="text">Biết Fago Pet qua người bạn giới thiệu. Mình nuôi 1 con mèo Anh lông ngắn, 6 tháng tuổi, Fago Pet đã tư vấn cho mình cách lựa chọn đồ ăn và có hướng dẫn cách cho bé đi vệ sinh.</p>
                        </div>
                    </div>
                </div>
                <div class="leftBlock">
                    <div class="imgPart">
                        <img alt="fagopet" src="~/images/img_15.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fagopetSP_6 generalPD" id="sectionLPSpa_9">
        <div class="container">
            <div class="titleBlock_6">
                <h2 class="titleText">Địa Chỉ Dịch vụ Grooming spa Cho Chó Mèo Của Fago Pet</h2>
                <p>Fago Pet nơi đưa dịch vụ spa for Pet lên 1 tầm cao mới. Tận tâm với khách hàng: lắng nghe thắc mắc, tiếp nhận góp ý, xử lý triệt để vấn đề.</p>
                <p class="fontSize_18" style="color: #fb8500;">Xem thú cưng của bạn như con của chúng tôi!</p>
            </div>
            <div class="row d-flex">
                <div class="smallBlock">
                    <div class="textPart">
                        <p class="text_1">Cơ sở Tp. Hồ Chí Minh</p>
                        <p class="text_2">26/1 Nguyễn Minh Hoàng, Phường 13, Quận Tân Bình, TPHCM</p>
                    </div>
                    <div class="mapPart">
                        <iframe allowfullscreen="" height="450" loading="lazy" referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.145321872634!2d106.64613431382266!3d10.800179861710415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752949d314758f%3A0x49d5d7998ccee7e0!2zMjYvMSDEkC4gTmd1eeG7hW4gTWluaCBIb8OgbmcsIFBoxrDhu51uZyAxMiwgVMOibiBCw6xuaCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1650701648377!5m2!1svi!2s" style="border:0;" width="600"></iframe>
                    </div>
                </div>
                <div class="smallBlock">
                    <div class="textPart">
                        <p class="text_1">Cơ sở Tp. Hà Nội</p>
                        <p class="text_2">51 ngõ 102 Hoàng Đạo Thành, q.Hoàng Mai, Hà Nội</p>
                    </div>
                    <div class="mapPart">
                        <iframe allowfullscreen="" height="450" loading="lazy" referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.2519898024852!2d105.80907981396516!3d20.98253369473293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135acebff2861d1%3A0x13a293c16d1b09bf!2zMTAyIEhvw6BuZyDEkOG6oW8gVGjDoG5oLCBLaW0gR2lhbmcsIFRoYW5oIFh1w6JuLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1650702109076!5m2!1svi!2s" style="border:0;" width="600"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
