<!DOCTYPE html>

<html>
<head>
    <!-- Basic page needs ================================================== -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta property="og:locale" content="vi_VN">
    <link rel="alternate" hreflang="x-default" href="/index.html">
    <link rel="alternate" hreflang="vi" href="/index.html">
    <meta name="revisit" content="1 days">
    <meta name="robots" content="index,follow">
    <link rel="shortcut icon" href="~/img/logo/pet2.png" type="image/png" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/css")
    @Styles.Render("~/Content/csss/css")

    <!-- Title and description ================================================== -->

    <meta property="og:type" content="website" />

    <meta property="og:site_name" content="">
    <meta name="twitter:card" content="summary">


    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <!-- CSS ================================================== -->
    @*<script id="facebook-jssdk" src="//connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js"></script>*@

    <script src='https://kit.fontawesome.com/a076d05399.js' type='text/javascript'></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/all.min.css" rel="stylesheet" />
    <link href="~/Content/thucung.css" rel="stylesheet" />
    <link href="~/Content/style_search.css" rel="stylesheet" />
    <link href="~/Content/QuickView.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" integrity="sha512-X/RSQYxFb/tvuz6aNRTfKXDnQzmnzoawgEQ4X8nZNftzs8KFFH23p/BA6D2k0QCM4R0sY1DEy9MIY9b3fwi+bg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css" integrity="sha512-f28cvdA4Bq3dC9X9wNmSx21rjWI+5piIW/uoc2LuQ67asKxfQjUow2MkcCNcfJiaLrHcGbed1wzYe3dlY4w9gA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.transitions.min.css" integrity="sha512-1rUauSOKExLvRq1W54SZexX5zRJqdYr8imrbspYyy1jLSWYcHqQRej2sBVJU/fhkC8Gu5wT4rEZ/nrSn8IeuhQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js" integrity="sha512-9CWGXFSJ+/X0LWzSRCZFsOPhSfm6jbnL+Mpqo0o8Ke2SYr8rCTqb4/wGm+9n13HtDE1NQpAEOrMecDZw4FXQGg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Header hook for plugins ================================================== -->
    <title> @ViewBag.Title </title>

    @*<script>
            //<![CDATA[
            (function () { function asyncLoad() { var urls = ["//static.zotabox.com/d/5/d50912899988480f86359f5de5f7b1d2/widgets.js", "https://wholesale.haravan.com/js/script_tag_production.js"]; for (var i = 0; i < urls.length; i++) { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = urls[i]; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); } } window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false); })();
            //]]>
        </script>*@

    @*<script type='text/javascript'>!function () { var hrv_analytics = window.hrv_analytics = window.hrv_analytics || []; if (!hrv_analytics.initialize) if (hrv_analytics.invoked) window.console && console.error && console.error("Segment snippet included twice."); else { hrv_analytics.invoked = !0; hrv_analytics.methods = ["start", "trackSubmit", "trackClick", "trackLink", "trackForm", "pageview", "identify", "reset", "group", "track", "ready", "alias", "debug", "page", "once", "off", "on"]; hrv_analytics.factory = function (t) { return function () { var e = Array.prototype.slice.call(arguments); e.unshift(t); hrv_analytics.push(e); return hrv_analytics } }; for (var t = 0; t < hrv_analytics.methods.length; t++) { var e = hrv_analytics.methods[t]; hrv_analytics[e] = hrv_analytics.factory(e) } hrv_analytics.load = function (t, e) { var n = document.createElement("script"); n.type = "text/javascript"; n.async = !0; n.src = "//stats.hstatic.net/analytics.minb0af.js?t=2"; var a = document.getElementsByTagName("script")[0]; a.parentNode.insertBefore(n, a); hrv_analytics._loadOptions = e }; hrv_analytics.SNIPPET_VERSION = "4.1.0"; hrv_analytics.start('pro:web:1000359177'); hrv_analytics.page(); hrv_analytics.load(); } }();</script>*@
    <style>
        .grecaptcha-badge {
            visibility: hidden;
        }
    </style>
    <script type='text/javascript'>
        window.HaravanAnalytics = window.HaravanAnalytics || {};
        window.HaravanAnalytics.meta = window.HaravanAnalytics.meta || {};
        window.HaravanAnalytics.meta.currency = 'VND';
        var meta = { "page": { "pageType": "collection" } };
        for (var attr in meta) {
            window.HaravanAnalytics.meta[attr] = meta[attr];
        }
        window.HaravanAnalytics.AutoTrack = true;
    </script>
    <!-- /snippets/oldIE-js.liquid -->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js" integrity="sha512-9CWGXFSJ+/X0LWzSRCZFsOPhSfm6jbnL+Mpqo0o8Ke2SYr8rCTqb4/wGm+9n13HtDE1NQpAEOrMecDZw4FXQGg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src='~/Scripts/removesomee.js' type="text/javascript"></script>




    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&amp;subset=vietnamese" rel="stylesheet">



    <script>
        window.file_url = "http://file.hstatic.net/1000359177/file/";
        window.asset_url = "http://theme.hstatic.net/1000359177/1000456422/14/?v=110";
        var check_variant = true;
        var check_variant_quickview = true;
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script language="javascript" src="~/Scripts/fastclick.min5eef.js"></script>
    <script src=""></script>

</head>
<body id="tat-ca-san-pham" class="body-other template-collection">
    <section class="banner-top" style="background-color:#7fb2e8">
        <div class="container">
            <a class="d-block desktop-only Desktop_2" href="#" rel="nofollow">
                <img alt="#" class="wk-editable-image" id="home-section-menu-img1" src="~/images/banner-menu.png">
            </a>
        </div>
    </section>
    <header id="header">
        <section class="desktop-only header stickyMenu">
            <div class="container">
                <div class="row row-fix justify-content-between d-flex">
                    <div class="logo-area">
                        <div class="wrap-img">
                           <a href="/" title="home" style="text-decoration: none;">
    <span style="font-size: 26px; font-weight: bold; color: #ff6b81; line-height: 70px; text-transform: uppercase; white-space: nowrap;">
        Web Chăm Só Thú Cưng
    </span>
</a>
                        </div>
                    </div>
                   <div class="hc-search-wrapper">
                           
                           <div class="search-bar-header">
                                <div class="search-form-wrapper">
                                    <form action="@Url.Action("Ketquatimkiem", "User")" class="searchform-categoris ultimate-search">
                                        <div class="wpo-search">
                                            <div class="wpo-search-inner">
                                        
                                                <div class="input-group">
                                                    @using (Html.BeginForm(FormMethod.Get))
                                                    {

                                                        <input id="SearchString" name="SearchString" type="text" value="" placeholder="Tìm kiếm....">
                                                        <span class="input-group-btn">
                                                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                                        </span>
                                                    }


                                                </div>

                                            </div>

                                        </div>

                                    </form>
                                </div>
                            </div>

                        </div>

                    <div class="cart-area">
                        @Html.Action("GiohangPartial", "Giohang")                    
                    </div>
                    <div class="phone-area d-flex align-items-center">
                        <i class="fa-solid fa-phone"></i>
                        <a class="phone-detail" href="tel:0987654321">
                            <span class="text1">Tổng đài tư vấn</span>
                            <span class="font-weight-bold">0987654321</span>
                        </a>
                    </div>
                    <div class="news-area d-flex">
                        @if (Session["Taikhoan"] != null)
                        {
                            var kh = Session["Taikhoan"] as WebsiteThuCungBento.Models.KHACHHANG;
                            <a href="@Url.Action("thongtincanhan","User")">
                               <i class="fa fa-user"></i> @kh.HOTENKH
                            </a>
                            <a href="@Url.Action("dangxuat","User")"><i class="fa fa-sign-out" aria-hidden="true"></i> Đăng xuất</a>
                        }
                        else
                        {
                            <a href="@Url.Action("dangnhap","User")" id="customer_login_link"><i class="fa fa-user"></i> Đăng nhập</a>
                            <a href="@Url.Action("dangky","User")" id="customer_register_link"><i class="fa fa-sign-in"></i> Đăng kí</a>
                        }
                    </div>
                </div>
            </div>
        </section>
        <section class="desktop-only navigation stickyMenu">
            <div class="container">
                <div class="menuBlock">
                    <div class="wrapFlex">
                        <div class="menuItem_1 menuItem_1fix">
                            <a class="linkLevel_1" href="@Url.Action("gioithieu","User")">GIỚI THIỆU</a>
                        </div>
                        <div class="menuItem_1 menuItem_1fix">
                            <a class="linkLevel_1" href="@Url.Action("sanpham","User")">Sản Phẩm</a>
                        </div>
                        <div class="menuItem_1 menuItem_1fix">
                            <a class="linkLevel_1" href="@Url.Action("khachsanthucung","User")">KHÁCH SẠN CHÓ MÈO</a>
                        </div>
                        <div class="menuItem_1 menuItem_1fix">
                            <a class="linkLevel_1" href="@Url.Action("spathucung","User")">SPA CHÓ MÈO</a>
                        </div>
                        <div class="menuItem_1 menuItem_1fix dropDown">
                            <a class="linkLevel_1" href="#">
                                Giống và Phụ Kiện
                                <i class="fa-solid fa-caret-down"></i>
                            </a>
                            <div class="blockCateLevel_2">
                                @Html.Action("thuonghieu", "User")
                            </div>
                        </div>
                        <div class="menuItem_1 menuItem_1fix dropDown">
                            <a class="linkLevel_1" href="#">
                                Loại Thú Cưng
                                <i class="fa-solid fa-caret-down"></i>
                            </a>
                            <div class="blockCateLevel_2">
                                @Html.Action("loai", "User")
                            </div>
                        </div>
                        <div class="menuItem_1 menuItem_1fix">
                            <a class="linkLevel_1" href="@Url.Action("blogs","User")">Blog</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <div class="cart-overlay"></div>

    <div>
        @RenderBody()
    </div>

    <section id="brands-slider">
        <div class="inner">
            <div class="grid">
                <div id="owl-brands-slider" class="owl-carousel owl-theme">
                    @Html.Action("hinhthuonghieu")

                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid" id="footerFagomom_2">
        <div class="footerLine4Col">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12 colFix">
                        <div class="titlePart">
                            <p class="text">LIÊN HỆ CHÚNG TÔI</p>
                        </div>
                        <div class="ContentPart">
                            <p class="pType1">CÔNG TY TNHH  GIẢI PHÁP THƯƠNG MẠI FAGO GROUP</p>
                            <!-- %p.pType2 Giấy chứng nhận đăng ký kinh doanh số 0108755817 -->
                            <!-- %p.pType2 Do Sở Kế Hoạch Và Đầu Tư Thành Phố Hà Nội Cấp ngày 29/05/2019 -->
                            <!-- %p.pType2 Địa chỉ: Số nhà 43, Ngõ 12, Đường Quang Trung, cụm 4, tổ 7, Phường La Khê, Quận Hà Đông, tp Hà Nội, Việt Nam -->
                            <!-- %p.pType2 Số điện thoại: 0946 328 358 -->
                            <!-- %p.pType2 Email: thefagogroup@gmail.com -->
                            <!-- %p.pType1 FaGoMom – “Nâng niu bé – Thấu hiểu mẹ” -->
                            <p class="pType2 address">Hồ Chí Minh :</p>
                            <p class="pType2">26/1 Nguyễn Minh Hoàng, Phường 12, Quận Tân Bình, TPHCM</p>
                            <p class="pType2 address">Hà Nội :</p>
                            <p class="pType2">102/51 Phố Hoàng Đạo Thành, Kim Giang, Thanh Xuân,Tp. Hà Nội</p>
                            <!-- %p.pType2 675 Nguyễn Kiệm, Phường 9, Quận Phú Nhuận, Thành phố Hồ Chí Minh -->
                            <!-- %p.pType2.address Hà Nội : -->
                            <!-- %p.pType2 N2C Hoàng Minh Giám, Trung Hòa Nhân Chính, Quận Thanh Xuân, Thành phố Hà Nội -->
                            <!-- %p.pType2 183 Hoàng Văn Thái, Khương Trung, Quận Thanh Xuân, Thành phố Hà Nội -->
                            <p class="pType2 phone">
                                <a href="tel:0987654321">0987654321</a>
                            </p>
                            <p class="pType2 email">
                                <a href="mailto:info@fagopet.vn">info@fagopet.vn</a>
                            </p>
                            <p class="pType2 email">
                                <a href="mailto:fagopet@gmail.com">fagopet@gmail.com</a>
                            </p>
                            <p class="pType2 clock">
                                <i class="time" style="color:white">Thứ 2 - 7 : 9:00 - 19:00</i>
                                <i class="time" style="color:white">Chủ nhật : 9:00 - 18:00</i>
                            </p>
                        </div>
                        <div class="shareSocialPart">
                            <div class="shareSocial1">
                                <div class="item">
                                    <a href="https://www.facebook.com/fagopet" rel="nofollow" target="_blank" title="facebook">
                                        <img alt="itemFacebook" src="~/images/itemFacebook2.svg">
                                    </a>
                                </div>
                                <div class="item">
                                    <a rel="nofollow" target="_blank" title="twitter">
                                        <img alt="twitter" src="~//images/twitter_2.svg">
                                    </a>
                                </div>
                                <div class="item">
                                    <a rel="nofollow" target="_blank" title="Linkedin">
                                        <img alt="instagram" src="~//images/instagramItem2.svg">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="https://www.youtube.com/channel/UCCE6WcIW7Q4HUr8PP76pr3A/featured" rel="nofollow" target="_blank" title="youtube">
                                        <img alt="youtube" src="~//images/youtube_2.svg">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a class="dmca-badge d-block" href="https://www.dmca.com/Protection/Status.aspx?ID=93a55eee-bb80-4a4e-a873-8302b1e8ab72&amp;refurl=https://fagopet.vn/payment/" title="DMCA.com Protection Status">
                            <img alt="DMCA.com Protection Status" src="https://images.dmca.com/Badges/dmca_protected_16_120.png?ID=93a55eee-bb80-4a4e-a873-8302b1e8ab72">
                        </a>
                        <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js">:cdata</script>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 colFix">
                        <div class="titlePart">
                            <p class="text">DANH MỤC</p>
                        </div>
                        <div class="ContentPart">
                            <ul>
                                <li>
                                    <a href="/">Trang chủ</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("khachsanthucung","User")">Khách sạn chó mèo</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("spathucung","User")">Spa chó mèo</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("sanpham","User")">Sản phẩm</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("gioithieu","User")">Giới Thiệu</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("blogs","User")">Blogs</a>
                                </li>
                                <!-- %li -->
                                <!-- %a{:href => "/tuyen-dung-dieu-duong-vien/"} Tuyển dụng -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 colFix">
                        <div class="titlePart">
                            <p class="text">CHÍNH SÁCH</p>
                        </div>
                        <div class="ContentPart">
                            <ul>
                                <li>
                                    <a href="#">Chính sách mua hàng</a>
                                </li>
                                <li>
                                    <a href="#">Chính sách vận chuyển</a>
                                </li>
                                <li>
                                    <a href="#">Chính sách bảo hành</a>
                                </li>
                                <li>
                                    <a href="#">Chính sách bảo mật</a>
                                </li>
                                <li>
                                    <a href="#">Chính sách đổi trả</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 colFix">
                        <div class="titlePart">
                            <p class="text">KẾT NỐI VỚI PawsSips.VN</p>
                        </div>
                        <a href="https://www.facebook.com/fagopet" rel="nofollow" target="_blank" title="facebook">
                            <div class="ContentPart">
                                <img alt="Fanpage" src="~/images/logo_fagopet.png" style="width: 100%;">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div id="fixed-social-network" class="medium--hide small--hide">-->

        @* Hiển thị logo liên kết đường dẫn bên góc phải trang *@
        <!--<a href="https://www.facebook.com/ksgdf/a/ksgdf/a/congnghethongtingt" class="fb-icon"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
        <a href="https://www.messenger.com/laptrinhmang/ạkllaptrinhmang/ạklt/congnghethongtingt" class="mess-icon"><i class="fab fa-facebook-messenger" aria-hidden="true"></i> Messenger</a>
        <a href="https://www.youtube.com/emfffwbead//emfffwbead//emfffwbead//emfffwbead//emfffwbead//emfffwbead//emfffwbead//emfffwbead//emfffwbead//channel/UCa52u55QtvEZuhcv1JFidFA" class="yt-icon"><i class="fa fa-youtube" aria-hidden="true"></i> Youtube</a>
        <a href="javascript:void(0)" id="back-to-top"><i class="fa fa-angle-up" aria-hidden="true"></i> Top</a>
    </div>-->
    <div class="hotline-phone-ring-wrap" style="margin-bottom:50px">
        <div class="hotline-phone-ring">
            <div class="hotline-phone-ring-circle"></div>
            <div class="hotline-phone-ring-circle-fill"></div>
            <div class="hotline-phone-ring-img-circle">
                <a href="tel:099999999" class="pps-btn-img">
                    <img src="https://nguyenhung.net/wp-content/uploads/2019/05/icon-call-nh.png" alt="Gọi điện thoại" width="50">
                </a>
            </div>
        </div>
        <div class="hotline-bar">
            <a href="tel:099999999">
                <span class="text-hotline">099999999</span>
            </a>
        </div>
    </div>
    <link href="~/Content/Call.css" rel="stylesheet" />
    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "108011378303902");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v14.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/ddsdk/xfbml.cddustomerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>
