@model WebsiteThuCungBento.Models.PHIEUNHAPKHO

@{
    ViewBag.Title = "Xóa Thú Cưng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XÓA Thú Cưng KHỎI KHO</h2>

<h3>Bạn có chắc chắn muốn xóa không?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ngày nhập:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYNK)
        </dd>

        <dt>
            Mã sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MASP)
        </dd>

        <dt>
           Số lượng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONG)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại trang quản lý", "Index")
        </div>
    }
</div>
